.NavBarContainer {
  display: flex;
  justify-content: center;
  text-align: center;
}

.NavBar {
  position: fixed;
  top: 20px;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ebf3ff;
  width: 90vw;
  border-radius: 30px;
  border: 2px;
  padding: 0px 10px 0px 10px;
  gap: 100px;
}

.NavBarInfo {
  display: flex;
}

.profileContainer {
  position: relative;
  top: 100px;
  background-color: #ebf3ff;
  width: 95vw;
  border-radius: 25px;
  border: 2px;
  padding: 0px 10px 0px 10px;
}

.NavBarLeft {
  display: flex;
}

.tutormanager-title {
  padding-right: 50px;
}

.dashboard-button {
  margin-left: 15px;
}
