.ForgotPassword-container {
  background-color: #4960a6;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Sora";
}

.ForgotPassword-card {
  margin: auto;
  /* border-color: black; */
  height: 550px;
  width: 430px;
  /* border: 1px solid; */
  border-radius: 10px;
  background-color: white;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  /* gap: 10px; */
}

.forgotpassword-title {
  margin-right: 50px;
  font-size: 30px;
  margin-top: 60px;
  margin-bottom: 30px;
}

.forgotpassword-description {
  max-width: 300px;
  font-size: 14px;
  margin-bottom: 30px;
}

.back-icon-container {
  position: absolute;
  color: #1976d2;
}

.back-icon {
  margin-top: 66px;
  margin-right: 360px;
  transform: scale(1.4);
}

.back-icon:hover {
  cursor: pointer;
  background-color: #e0e0e0;
  border-radius: 30px;
  color: white;
  -webkit-transition: color 0.3s ease-out;
  -moz-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  -ms-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}

.continue-button {
  margin-top: 20px;
}

.redirect-to-signup-page {
  margin-top: 150px;
}
