.profile-container {
  background-color: #4960a6;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Sora";
}

.profile-card {
  margin-top: 60px;
  height: 80vh;
  width: 60vw;
  /* border: 1px solid; */
  border-radius: 10px;
  background-color: #ebf3ff;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
  /* gap: 20px; */
  position: relative;
}

.logo-container {
  border-radius: 10px;
}

.profile-title-container {
  width: 100%;
  height: 10%;
  /* background-color: white; */
  /* border-bottom: 1px #ebf3ff solid; */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #ebf3ff;
  /* position: absolute; */
  left: 0;
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.profile-title-icon {
  margin-left: 30px;
  transform: scale(1.5);
}

.profile-title {
  margin-left: 30px;
  font-size: 30px;
}

.profile-upper {
  border-radius: 10px;
  width: 100%;
  height: auto;
  background-color: rgb(194, 218, 236);
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.profile-upper > * {
  /* margin-top: 40px; */
  border-radius: 10px;
  width: 250px;
  height: 250px;
  background-color: #ebf3ff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 12px;
}

.upper-box-one {
  border: #4960a6 2px solid;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
}

.upper-box-one img {
  object-fit: contain;
}

.upper-box-two {
  /* border: #4960a6 2px solid; */
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  /* background-color: aqua; */
  gap: 10px;
}

.upper-box-two > * {
  width: 200px;
  /* border: #4960a6 1px solid; */
  /* margin: auto; */
}

.upper-box-three {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.profile-data {
  width: 80px;
  height: 20px;
  background-color: #4960a6;
}

.edit-icon {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 6px;
}

.edit-icon:hover {
  cursor: pointer;
  background-color: #e0e0e0;
  border-radius: 30px;
  color: white;
  -webkit-transition: color 0.3s ease-out;
  -moz-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  -ms-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
  padding: 6px;
}

@media only screen and (max-width: 900px) {
  .profile-upper {
    flex-direction: column;
  }
}
