.studentdashboard-container {
  background-color: #4960a6;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.studentdashboard-card {
  margin-top: 60px;
  height: 85vh;
  width: 92vw;
  /* border: 1px solid; */
  border-radius: 10px;
  background-color: #ebf3ff;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: column;
    gap: 20px; */
  position: relative;
}

.student-dashboard-title {
  font-size: 25px;
  position: absolute;
  top: 30px;
  left: 30px;
}

.student-calendar {
  width: 550px;
  height: 550px;
  background-color: white;
}

.student-request-column {
  font-size: 13px;
  background-color: white;
  width: 450px;
  height: 600px;
  margin-top: auto;
  left: 50px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-self: center;
}

.student-request-title {
  font-size: 15px;
  position: absolute;
  top: 0;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.student-request-word {
  padding: 10px;
}

.student-no-request-message {
  width: 100%;
  text-align: center;
}

.search-container {
  position: absolute;
  width: 450px;
  height: 680px;
  background-color: white;
  right: 50px;
  /* overflow: hidden; */
}

.search-for-tutors-title {
  font-size: 15px;
  position: absolute;
  top: 40px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.search-for-tutors-word {
  padding: 10px;
}

.filters-container {
  background-color: #ebf3ff;
  height: 40px;
  width: 100%;
}

.filter-icon {
  transform: scale(0.8);
  margin-right: 5px;
}

/* .sort-container {

  padding: 8px;
  position: absolute;
  right: 0;
} */

.lower-box-container {
  width: 100%;
  margin-top: 50px;
  height: 588px;
  /* background-color: #4960a6; */
  overflow-y: scroll;
}

.tutor-search-scroll {
  width: 100%;
  display: flex;
  align-items: center;
  /* border: 1px black solid; */
  flex-direction: column;
}

.tutor-search-individual-container {
  /* background-color: #4960a6; */
  width: 90%;
  height: 130px;
  border: 1px black solid;
  border-radius: 10px;
  margin: 7.1px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.individual-profile-image-container {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  /* border: 1px black solid; */
  position: absolute;
  left: 10px;
}

.individual-profile-image {
  height: 100%;
  width: 100%;
}

.individual-profile-info {
  width: 260px;
  height: 100px;
  border-radius: 10px;
  /* border: 1px black solid; */
  position: absolute;
  right: 0px;
  font-size: 11px;
  gap: 5px;
}

.individual-profile-buttons {
  margin-top: 5px;
}
.individual-profile-button {
  font-size: 10px !important;
}

.search-tutor-loading {
  position: absolute;
  margin-top: 230px;
}

.student-request-lower-container {
  width: 100%;
  height: 560px;
  /* background-color: aqua; */
  margin-top: 40px;
  overflow-y: scroll;
}

.student-request-lower-scroll {
  width: 100%;
  display: flex;
  align-items: center;
  /* border: 1px black solid; */
  flex-direction: column;
}

.student-request-info-bar {
  width: 430px;
  height: 30px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: space-between;
  margin-top: 10px;
  /* gap: 8px; */
}

.student-request-info-bar > * {
  /* border: 1px solid black; */
  padding: 3px;
}

.tutor-title {
  text-align: center;
  width: 180px;
  /* background-color: blue; */
  border-right: 1px solid black;
  line-height: 20px;
}

.subject-title {
  text-align: center;
  width: 140px;
  /* background-color: red; */
  border-right: 1px solid black;
  line-height: 20px;
}

.time-title {
  text-align: center;
  width: 180px;
  /* background-color: orange; */
  border-right: 1px solid black;
  line-height: 20px;
}

.status-title {
  text-align: center;
  width: 100px;
  /* background-color: pink; */
  border-right: 1px solid black;
  line-height: 20px;
}

.change-title {
  text-align: center;
  width: 120px;
  /* background-color: grey; */
}

.student-individual-requests {
  width: 430px;
  height: 50px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  font-size: 11px;
  border: 1px solid black;
  border-radius: 5px;
}

.student-request-lower-scroll .student-individual-requests {
  margin-top: 10px;
}

.individual-tutor-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 180px;
  height: 30px;

  /* background-color: blue; */
  border-right: 1px solid black;

  overflow: hidden;
}

.individual-subject-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 140px;
  height: 30px;
  padding-left: 3px;
  border-right: 1px solid black;

  overflow: auto;
}

.individual-time-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  width: 180px;
  height: 30px;
  /* background-color: orange; */
  border-right: 1px solid black;
}

.individual-status-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100px;
  height: 30px;
  /* background-color: pink; */
  border-radius: 4px;
  border-right: 2.5px solid white;
}

.individual-change-title {
  text-align: center;
  width: 120px;
  /* background-color: grey; */
}

.accepted-div {
  color: green;
}

.pending-div {
  color: orange;
}

.search-tutor-none-message {
  margin-top: 250px;
  position: absolute;
}

.search-tutor-none-message {
  text-align: center;
}
