.view-profile-container {
  background-color: #4960a6;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Sora";
}

.view-profile-card {
  margin-top: 60px;
  height: 80vh;
  width: 60vw;
  /* border: 1px solid; */
  border-radius: 10px;
  background-color: #ebf3ff;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  /* flex-direction: column;
    gap: 20px; */
  position: relative;
}

.view-logo-container {
  border-radius: 10px;
}

.view-profile-title-container {
  width: 100%;
  height: 60px;
  /* background-color: white; */
  /* border-bottom: 1px #ebf3ff solid; */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #ebf3ff;
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.view-profile-title-icon {
  margin-left: 30px;
  transform: scale(1.5);
}

.view-profile-title {
  margin-left: 30px;
  font-size: 30px;
}

.view-profile-upper {
  border-radius: 10px;
  width: 92vw;
  height: 45vh;
  background-color: rgb(194, 218, 236);
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.view-profile-upper > * {
  margin-top: 40px;
  border-radius: 10px;
  width: 250px;
  height: 250px;
  background-color: #ebf3ff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 12px;
}

.view-upper-box-one {
  border: #4960a6 2px solid;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
}

.view-upper-box-two {
  /* border: #4960a6 2px solid; */
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  /* background-color: aqua; */
  gap: 10px;
}

.view-upper-box-two > * {
  width: 200px;
  /* border: #4960a6 1px solid; */
  /* margin: auto; */
}

.view-upper-box-three {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.view-upper-box-three > * {
  width: 200px;
  /* border: #4960a6 1px solid; */
  /* margin: auto; */
}

.view-profile-image {
  border-radius: 10px;
  width: 250px;
  height: 250px;
}

.view-profile-data {
  width: 80px;
  height: 20px;
  background-color: #4960a6;
}

.view-edit-icon {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 6px;
}

.view-edit-icon:hover {
  cursor: pointer;
  background-color: #e0e0e0;
  border-radius: 30px;
  color: white;
  -webkit-transition: color 0.3s ease-out;
  -moz-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  -ms-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
  padding: 6px;
}

.view-profile-feature-buttons {
  position: absolute;
  z-index: 1;
  margin-top: 370px;
  /* margin-left: 63%; */
  right: 80px;
}

.individual-profile-buttons {
  margin-top: 5px;
}

.individual-profile-button {
  font-size: 10px !important;
}
.message-user-button {
  font-size: 10px !important;
}

.lower-container-tempview {
  height: 260px;
  width: 100%;
  /* background-color: rgb(194, 218, 236); */
  margin: auto;
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  margin-bottom: 35px;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
  border-radius: 10px;
}

.lower-container-tempview > * {
  /* margin-top: 40px; */
  border-radius: 10px;
  width: 250px;
  height: 250px;
  background-color: #ebf3ff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 12px;
}

.lower-container-tempview-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
